<div class="activities_new">
    <div class="activities__header_new">
        <h2>Recent Activities</h2>
    </div>
    <div class="activities__list_new">
        {% for message in room_messages %}
        <div class="activityCard_new">
            <div class="activityCard__header_new">
                <a href="{% url 'user-profile' message.user.id %}" class="activityCard__author_new">
                    <div class="avatar avatar--small_new">
                        <img src="{{message.user.avatar.url}}" alt="User Avatar" />
                    </div>
                    <p>
                        @{{message.user.username}}
                        <span class="activityCard__timestamp_new">{{message.created|timesince}} ago</span>
                    </p>
                </a>
                {% if request.user == message.user %}
                <div class="activityCard__actions_new">
                    <a href="{% url 'delete-message' message.id %}" class="delete-icon" title="Delete Message">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M6.646 6.646a.5.5 0 0 1 .708 0L8 7.293l.646-.647a.5.5 0 0 1 .708.708L8.707 8l.647.646a.5.5 0 0 1-.708.708L8 8.707l-.646.647a.5.5 0 0 1-.708-.708L7.293 8l-.647-.646a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="activityCard__content_new">
                <p>Replied to post: 
                    <a href="{% url 'room' message.room.id %}" class="activityCard__room_new">
                        "{{message.room}}"
                    </a>
                </p>
                <div class="activityCard__message_new">{{message.body}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>