{% extends 'main.html' %}

{% block content %}
<main class="profile-page layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    {% include 'base/topics_component.html' %}
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{{user.avatar.url}}" />
          </div>
        </div>
        <div class="profile__info">
          <h3>{{user.name}}</h3>
          <p>@{{user.username}}</p>
          {% if request.user == user %}
          <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
          {% endif %}
        </div>
        <div class="profile__about">
          <h3>About</h3>
          <p>
            {{user.bio}}
          </p>
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2>Study Rooms Hosted by {{user.username}}</a>
          </h2>
        </div>
      </div>
      {% include 'base/feed_component.html' %}


    </div>
    <!-- Room List End -->

    <!-- Add Skill Form -->
    <form method="POST">
      {% csrf_token %}
      {{ add_skill_form.as_p }}
      <button type="submit" class="btn btn--main">Add Skill</button>
    </form>

    <!-- Skills List -->
    <ul class="skills-list">
      {% for skill in skills %}
        <li>
          {{ skill.name }}
          <a href="{% url 'remove_skill' skill.id %}" class="remove-skill">×</a>
        </li>
      {% empty %}
        <p>No skills added yet.</p>
      {% endfor %}
    </ul>

    <!-- Activities Start -->
    {% include 'base/activity_component.html' %}
    <a href="{% url 'send_direct_message' recipient_id=user.id %}" class="btn btn--main">Send Message</a>
    <!-- Activities End -->
  </div>
</main>
{% endblock content %}