<!-- {% extends 'main.html' %}

{% block content %}
<h2>Direct Messages</h2>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>
                <strong>{{ message.sender.username }}</strong> to <strong>{{ message.recipient.username }}</strong>: {{ message.body }} 
                <br>
                <em>Sent at: {{ message.created_at }}</em>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No messages with this user yet.</p>
{% endif %}


<h3>Other Conversations</h3>
<ul>
    {% for recipient_id in recipient_ids %}
        <li>
            <a href="{% url 'view_direct_message_with_recipient' recipient_id=recipient_id %}">Chat with user {{ recipient_id }}</a>
        </li>
    {% endfor %}
</ul>


{% if recipient_id %}
    <a href="{% url 'send_direct_message' recipient_id=recipient_id %}">Send a message</a>
{% endif %}
{% endblock content %} -->